.image {
  animation: enter-left linear;
  animation-timeline: view();
  animation-range: 0 450px;
}

.text {
  animation: enter-right linear;
  animation-timeline: view();
  animation-range: 0 450px;
}

@keyframes enter-left {
  from {
    translate: -100%;
    opacity: 0;
  }

  to {
    translate: 0;
    /* rotate: 0; */
    opacity: 1;
  }
}

@keyframes enter-right {
  from {
    translate: 100%;
    opacity: 0;
  }

  to {
    translate: 0;
    opacity: 1;
  }
}
